body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: aliceblue;
}

h1{
    text-align: center;
}

#folders-container{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.folder{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: seagreen;
}

.folder:hover{
    background-color: rgb(12, 95, 67);
}

#files-container{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(55, 102, 143);
}

#search-box{
    margin-bottom: 10px;
    padding: 5px;
    width: 98%;
    border-radius: 5px;
}

#sort-button{
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3 ease;
}
#sort-button:hover{
    background-color:rgb(122, 193, 255);
    transform: scale(1.05);
}

#file-list{
    list-style: none;
    padding: 0;
}

.file-item{
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.file-item:last-child{
    border-bottom: none;
}

@media(max-width: 768px){
    #folders-container{
        flex-direction: column;
    }
    .folder{
        flex: 1 1 100%;
    }
    #search-box{
        padding-top: 10px;
    }
}

@media (max-width: 480px){
    #folders-container{
        padding: 0;
    }
    #search-box, #sort-button{
        width: 98%;
    }
    #search-box{
        padding-top: 10px;
    }
}
